body {
    margin: 0;
    font-family: "Raleway", "Roboto Condensed", sans-serif;
    background-color: #D9BBF9;
    color: #191716;
}

.nav {
    background-color: #416788;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
}

.nav-links {
    display: flex;
    gap: 0.75em;
}

.nav a {
    color: #D9BBF9;
    margin: 0 1em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 50px;
}

.nav a:hover {
    color: #fff;
    text-decoration: underline;
}

.nav img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 10px;
}


.homeheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
    background-color: #5171A5;
}

.homeheader img {
    max-height: 400px;
    border-radius: 15px;
}

.main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}

.html-column {
    grid-column: 1;
    grid-row: 1;
}

.css-column {
    grid-column: 3;
    grid-row: 1;
}
.html-column h1, .css-column h1 {
    color: #416788;
}

.html-pic {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.vs-code {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 120px;
}

.css-pic {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.html-column, .css-column {
  background: #ffffff;
  padding: 1.5em;
  max-width: 500px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 10px rgba(65,103,136,0.15);
}

.html-pic img, .css-pic img {
    max-width: 300px;
    max-height: 180px;
    object-fit: cover;
    border: 3px solid #416788;
    border-radius: 10px;
    background-color: #fff;
    padding: 6px;
    margin-bottom: 90px;
}

.vs-code img {
    max-width: 160px;
    border-radius: 50%;
    border: 4px solid #5171A5;
    padding: 6px;
    background-color: #fff;
}

.footer {
  background-color: #416788;
  color: #D9BBF9;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;         
}

.footer a {
    color: #D9BBF9;
    text-decoration: none;
    font-weight: 600;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-left {
  flex: 1;
  margin-right: 2em;
}

.footer-logo {
  flex: 0;
  display: flex;
  justify-content: center;
}

.footer-logo img {
  max-height: 150px;
  border-radius: 15px;
}

.social {
  flex: 1;
  text-align: right;
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  margin-left: 2em;
}

.social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  font-weight: 600;
  color: #D9BBF9;
  text-decoration: none;
}

.social a:hover {
  color: #fff;
}

.social img {
  max-height: 70px;
  border-radius: 15px;
  margin-top: 0.5em;
}
